*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  padding:40px;
  margin-left: 520px;
  width:500px;
  border:2px solid #33ccff;
  border-radius:15px;
}

.question{
  color:black;
  padding-bottom: 20px;
  font-size: 30px;
}

.answers,.options{
  color:green;
  font-size: larger; 
  
}

.option{
  height:30px;
  width:40px;
  padding: 20px;
  background-color: #eee;
}

button{
  margin-left:400px;
  font-size: 25px;
  color:white;
  border:1px;
  border-radius: 20px;
  background-color: #33ccff;
  
}

.logo{
 padding: 20px;
  max-width:9%;
  max-height:10%;
}