body{
  font-family: Exo, sans-serif;

}

.header{
  max-width:100%;
  height:auto;
}





.welcome{
 
  font-size:38px;
  color: #e21d43;
  border:2px solid #e21d43;
  width:180px;
  text-align:center;
  padding:10px;
  margin-top: 7%;
  margin-left:43%;
 animation-name: wel;
 animation-duration: 4s;
 animation-fill-mode: forwards;
}
@keyframes wel{
  0%{
    transform:scale(0.5);
    opacity:0.1;
    
  }
  50%{
    transform:scale(1);
    opacity:1;
  }
 
  100%{
    transform:scale(1);
    opacity:1;
  }

}

.Q{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #1DE2BC,
    #fa7b94
  );
  height: 210px;
  width: 210px;
  border-radius:50%;
  animation-name:symbol;
  animation-delay: 2s;
  animation-duration:3s;
  animation-fill-mode: forwards;
}

.Q::before{
  position: absolute;
  content:"";
  top: 100px;
  left:100px;
  background-color:white;
  height: 100px;
  width: 100px;
  
}
.Q::after{
  position: absolute;
  content:"";
  top:150px;
  left:150px;
  margin:auto;
  background: linear-gradient(
    180deg,
    #1DE2BC,
    #fa7b94
  );
  height: 60px;
  width: 90px;
  
  transform:rotate(5deg);
  animation-name:tilde;
  animation-delay: 0;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}



@keyframes symbol{
  50%{
    transform:rotate(20deg);
  }
  100%{
    transform:rotate(20deg);
  }
}
@keyframes tilde{
  0%{
    opacity:0;
  }
  20%{
    opacity:0
  }
  50%{
    opacity:0;
  }
  70%{
    opacity:0
  }
  100%{
    opacity:1;
  }
}

.mainlink{
  position:absolute;
  top:80%;
  left:40%;
}
 .begin{
  color:black;
  background-color: #1DE2BC;
  font-size:28px;
  font-family:Exo;
  width:350px;
  height:80px;
  border: 0px;
 animation-name:begin;
 animation-duration:8s;
}

@keyframes begin{
  0%{
    opacity:0;
  }
  70%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}